[Unit]
Description=T.Buddy translation relay (Gunicorn)
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/opt/tbuddy
# Эта строка решит проблему
EnvironmentFile=/opt/tbuddy/.env
ExecStart=/opt/tbuddy/.venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8080 app:app
Restart=always

[Install]
WantedBy=multi-user.target
